.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {

  font-family: 'Avenir', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height:100vh;
  text-align: center;
  flex-flow : row nowrap;
  background-image: url('./assets/weather_background.svg');
  background-size: cover;
  background-repeat: no-repeat;

}

.day {
  font-size: 30px;
}

.temperature {
  font-size: 30px;
}

.forecast {
  margin:30px;
  width:350px;
}
