.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {

  font-family: 'Avenir', sans-serif;
  height:100vh;
  background-image: url('./assets/weather_background.svg');
  background-size: cover;
  background-repeat: no-repeat;

}

.day {
  font-size: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color:#d2d2d2;
}

.temperature {
  font-size: 100px;
}

.forecast-app {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.icomoon {
  font-size:75px;
  margin-right: 10px;
  margin-bottom: -10px;
}

.button-previous {
  margin-right:30px;
}

.fade {
  opacity: 1;
  transition : opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
