body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Avenir', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height:100vh;
  text-align: center;
  flex-flow : row nowrap;
  background-image: url('./assets/weather_background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.day {
  font-size: 30px;
}

.temperature {
  font-size: 30px;
}

.forecast {
  margin:30px;
  width:350px;
}
